.header {
    grid-area: h;
    background-color: gold;
}

.header img {
    padding: 15px 20px;
    width: 32px;
}

.loginBlock {
    padding: 15px 20px;
    float: right;
}

.loginBlock a {
    color: white;
}