.descriptionBlock {
    /*padding: 10px;*/
}

.mainPhotoContainer {
    position: relative;
    width: 100%;
}

.mainPhoto {
    max-width: 200px;
}

.changesInputOnImgHover:hover .fileInput {
    opacity: 0.7;
}

input[type="file"] {
    display: none;
}

.fileInput {
    padding: 6px;
    bottom: 4px;
    left: 0;
    width: 188px;
    text-align: center;
    background: lightgray;
    cursor: pointer;
    position: absolute;
    opacity: 0;
    transition: opacity .35s ease;
}

.contact {
    padding-right: 12px;
}

.contacts {
    padding-top: 10px;
}

.contactPhoto {
    max-width: 50px;
}

.fullName {
    margin: 0;
}

.status {
    margin-bottom: 10px;
}

.statusSpan span:hover {
    background-color: #e0dcd3;
    cursor: pointer;
}